.background{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../layout/bg.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333;
    background-size: cover;
    align-items: center;   
}
.groupName{
    font-size: 3.5em;
    font-family: 'Impact';
    font-variant: small-caps;
    color: #7138E0;
}
.projectName{
    font-size: 1.2em;
    font-family: Helvetica;
    margin-top: -30px;
    color: black;
    font-style: oblique;
    text-decoration-line: underline;
}
.containerLogin{
    margin: 0 auto;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    width: fit-content;
    height: fit-content;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-emphasis-style: bold;
}
.errorMsg{
    font-size: 0.8em;
    font-family: Arial;
    color: red;
}
.loginBTN{
    display: flex;
    align-items: center;
    justify-content:center;
}